streamlit
requests
matplotlib.pyplot
ebook
spotifywidget
ebooklib
bs4
io
streamlit.components.v1
pandas
numpy
json
spotipy
spotipy.util
spotipy.oauth2
random
functools
spotify.spotify_creds
datetime
json
webbrowser
json.decoder